/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.user-button-item {
  float: right;
  margin-right: 10px;
  border: 1px solid #c7c7c7;
  padding: 8px;
  border-radius: 20px;
}

.block-icer-main {
  float: right;
}

.view-front > div > div,
.view-subgroup > div > div {
  display: inline-block;
  margin-right: 20px; 
}

.fa {
  font-size: 30px;
}

#navbar {
  padding: 10px;
}
