/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.user-button-item {
  float: right;
  margin-right: 10px;
  border: 1px solid #c7c7c7;
  padding: 8px;
  border-radius: 20px;
  position: relative;
}

.block-icer-main {
  float: right;
}

.view-front > div > div,
.view-subgroup > div > div {
  display: inline-block;
  margin-right: 20px; 
}

.fa {
  font-size: 30px;
}

#navbar {
  padding: 10px;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  background: #05AD48;
  border: 1px solid #000;
  color: #fff;
  padding: 0px 5px;
  z-index: 999;
  border-radius: 6px;
}
